[submodule "config-server"]
	path = config-server
	url = https://github.com/Shavindi0609/config-server.git
[submodule "eureka-server"]
	path = eureka-server
	url = https://github.com/Shavindi0609/eureka-server.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/Shavindi0609/api-gateway.git
